# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных (если локальная)
*.sqlite
*.db

# Переменные окружения
.env

# Логи
*.log

# IDE / редакторы
.vscode/
.idea/

# Файлы зависимостей, создаваемые автоматически
*.egg-info/
*.spec

# Jupyter и прочие временные
.ipynb_checkpoints/
